@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700|Gafata|Buda:300);
@import url(http://fonts.googleapis.com/css?family=Raleway:900);

/* Color Reference:
		Red background: #B8312C
		Gold text: #F0E17F;
		almost black: #262626;
		lighter almost black: #333333;
		tweed grey: #5F5F5F;
*/


/* ======= Header and general background styling ======= */

body {
	background-image: url("../img/tweed.png"); 
	background-repeat: repeat;
	font-family: 'Gafata', sans-serif; 
	font-size: 20px;
	color: #262626;
}

#header-container {
	text-align: center;
	margin: 0 auto; 
	position: relative;
	height: 180px;

	-webkit-box-shadow: 0 4px 4px -2px #333333;
    -moz-box-shadow: 0 4px 4px -2px #333333;
    box-shadow: 0 4px 4px -2px #333333;
}

#header-container * {
	display: inline-block;
}

/* Style for menu buttons */
nav li a {
	text-decoration: none;
	font-family: 'Buda', cursive;
	font-size: 22px;
	color: #f0e17f;
	text-shadow: 1px 2px 2px #262626;

	padding: 10px;
	margin: 10px;
	position: relative;
	top: -130px;

	/* Drop shadow on bottom and drop shadow outside */
	border: solid 2px #f0e17f;
	border-radius: 7px;
	-webkit-box-shadow: 0 10px 6px -8px #262626;
	-moz-box-shadow: 0 10px 6px -8px #262626;
	box-shadow: 0 10px 6px -6px #262626;
}

/* Removes indentation caused by original unordered list */
ul {
	padding: 0px;
}

#martsa-main {
	width: 230px;
}

/* ======= HOME: Begin styling for "Home" page ======= */

#tweed-band {
	height: 400px;
	background-image: url("../img/tweed_2x.png"); 
	background-repeat: repeat;

	/* inside box shadow */
	-moz-box-shadow: inset 0 0 10px #262626;
    -webkit-box-shadow: inset 0 0 10px #262626;
    box-shadow: inset 0 0 10px #262626;
}

#photos {
	height: 290px;
	width: 475px;
	overflow-y: hidden;

	border: solid 8px #C2C8D1;
	position: relative;
	margin: 0 auto;
	top: 45px;

	-webkit-box-shadow: 0 20px 6px -6px #262626;
	-moz-box-shadow: 0 20px 6px -6px #262626;
	box-shadow: 0 20px 6px -6px #262626;
}

#photos img {
	width: 100%;
}

#beads-corner {
	position: absolute;
	max-width: 400px;
	width: 40%;
	bottom: 0px;
	left: 0px;
}




/* ======= MENU: Begin styling for "Menu" page ======= */

#tweed-band-tall {
	height: 400px;
	background-image: url("../img/tweed_2x.png"); 
	background-repeat: repeat;

	/* inside box shadow */
	-moz-box-shadow: inset 0 0 10px #262626;
    -webkit-box-shadow: inset 0 0 10px #262626;
    box-shadow: inset 0 0 10px #262626;
}

#paragraph {
	width: auto;
	padding: 0px 150px 0px 150px;
	height: inherit;
	overflow-y: scroll;	
}

#paragraph-block {
	
	padding: 50px;
}

#paragraph p {
	display: block;
}

.heading {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
}

.item {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	float: left;
}

.description {
	padding: 0px 10px 0px 10px;
}

.price {
	float: right;
	text-align: right;
}



/* ======= ABOUT: Begin styling for "About" page ======= */

#about-container {
	width: auto;
	padding: 50px 300px 0px 400px;
	height: 350px;
	overflow-y: scroll;	
}

#about-container p {
	line-height: 25px;
}

#about-header {
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
}



/* ======= CONTACT: Begin styling for "Contact" page ======= */

#map-canvas {
	width: auto;
	height: 400px;
	z-index: -3;

	-moz-box-shadow: inset 0 0 10px #262626;
    -webkit-box-shadow: inset 0 0 10px #262626;
    box-shadow: inset 0 0 10px #262626;
}



/* ======= MEDIA QUERY styling ======= */

/* If screen width is anything larger than an iPhone, 
	but smaller than a desktop, then show this style */
@media only screen and (min-width: 321px) and (max-width: 650px) {
	body {
		font-size: 17px;
	}

	#header-container {
		text-align: center;
		margin: 0 auto; 
		position: relative;
		height: 100px;
	}

	nav li a {
		text-decoration: none;
		font-family: 'Buda', cursive;
		font-size: 17px;
		color: #f0e17f;
		text-shadow: 1px 2px 2px #262626;

		padding: 8px 4px 8px 4px;
		margin: 2px;
		position: relative;
		top: -45px;

		/* Drop shadow on bottom and drop shadow outside */
		border: solid 1px #f0e17f;
		border-radius: 7px;
		-webkit-box-shadow: 0 10px 6px -8px #262626;
		-moz-box-shadow: 0 10px 6px -8px #262626;
		box-shadow: 0 10px 6px -6px #262626;
	}

	#martsa-main {
		width: 108px;
		position: relative;
		top: 20px;
	}

	#tweed-band {
		height: 300px;
	}

	#tweed-band-tall {
		height: 400px;
	}

	#photos {
		height: 185px;
		width: 300px;
	}

	#beads-corner {
		display: none;
	}

	#paragraph {
		width: auto;
		padding: 0px 20px 0px 20px;
		height: inherit;
		overflow-y: scroll;	
	}

	#paragraph-block {
		padding: 20px;
	}

	.heading {
		font-family: 'Raleway', sans-serif;
		font-size: 18px;
	}

	.item {
		font-family: 'Raleway', sans-serif;
		font-size: 17px;
		float: left;
	}

	.description {
		padding: 0px 10px 0px 10px;
	}

	.price {
		float: right;
		text-align: right;
	}

	#about-container {
		width: auto;
		padding: 25px 10px 0px 10px;
		height: 375px;
		overflow-y: scroll;	
	}

	#about-container p {
		line-height: 20px;
	}

	#about-header {
		font-family: 'Raleway', sans-serif;
		font-size: 20px;
	}
}


/* If screen width is 320px or smaller (like the iPhone), 
	then show this style */
@media screen and (max-width: 320px) {
	body {
		font-size: 17px;
	}

	#header-container {
		text-align: center;
		margin: 0 auto; 
		position: relative;
		height: 100px;
	}

	nav li a {
		text-decoration: none;
		font-family: 'Buda', cursive;
		font-size: 16px;
		color: #f0e17f;
		text-shadow: 1px 2px 2px #262626;

		padding: 8px 2px 8px 2px;
		margin: 1px;
		position: relative;
		top: -40px;

		border: solid 1px #f0e17f;
		border-radius: 7px;
		-webkit-box-shadow: 0 10px 6px -8px #262626;
		-moz-box-shadow: 0 10px 6px -8px #262626;
		box-shadow: 0 10px 6px -6px #262626;
	}

	#martsa-main {
		width: 95px;
		position: relative;
		top: 20px;
	}

	#tweed-band {
		height: 225px;
	}

	#tweed-band-tall {
		height: 350px;
	}

	#photos {
		height: 150px;
		width: 250px;
		border: solid 6px #C2C8D1;
		position: relative;
		top: 25px;
	}

	#beads-corner {
		display: none;
	}

	#paragraph {
		width: auto;
		padding: 0px 10px 0px 10px;
		height: inherit;
		overflow-y: scroll;	
	}

	#paragraph-block {
		padding: 15px;
	}

	.heading {
		font-family: 'Raleway', sans-serif;
		font-size: 18px;
	}

	.item {
		font-family: 'Raleway', sans-serif;
		font-size: 17px;
		float: left;
	}

	.description {
		padding: 0px 10px 0px 10px;
	}

	.price {
		float: right;
		text-align: right;
	}

	#about-container {
		width: auto;
		padding: 20px 10px 0px 10px;
		height: 330px;
		overflow-y: scroll;	
	}

	#about-container p {
		line-height: 20px;
	}

	#about-header {
		font-family: 'Raleway', sans-serif;
		font-size: 20px;
	}
}